.search_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
}

.search_input {
  width: 30vw;
  border-radius: 10px;
  padding: 5px 10px;
  outline: none;
  background-color: #f2f2f2;
}

.search_qty {
  border-radius: 10px;
  padding: 5px 5px;
  outline: none;
  background-color: #f2f2f2;
}
