.header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  column-gap: 35px;
  border-bottom: solid 1px;
}

.main {
  position: relative;
  padding: 10px 0;
}

.button {
  background-color: #f2f2f2;
  border: none;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
